<h1>Bot 一覧</h1>
<table class="table">
	<tr class="active">
		<th>カテゴリ</th>
		<th>入力値</th>
		<th>出力値</th>
		<th>actions</th>
	</tr>
	<% @bots.each do |bot| %>
	<tr>
		<% if bot.api_id == 1 || bot.api_id == 4%>
			<th><%= ApiList.find(bot.api_id).api %></th>
			<th>位置情報 + <%= bot.text %></th>
			<th><%= bot.value %></th>
			<th><%= link_to "Edit", edit_bot_path(bot.id), :class => "btn btn-success"%> <%= link_to "Delete", bot_path(bot.id), method: :delete, data: {confirm: "削除してよろしいですか？"}, :class => "btn btn-danger"%></th>
		<% elsif bot.api_id == 2 %>
			<th><%= ApiList.find(bot.api_id).api %></th>
			<th><%= bot.text %></th>
			<th><%= bot.value %></th>
			<th><%= link_to "Edit", edit_bot_path(bot.id), :class => "btn btn-success"%> <%= link_to "Delete", bot_path(bot.id), method: :delete, data: {confirm: "削除してよろしいですか？"}, :class => "btn btn-danger"%></th>
		<% end %>
	</tr>
	<% end %>
</table>
<br>
<h1>Push通知 一覧</h1>
<table class="table">
	<tr class="active">
		<th>時間</th>
		<th>内容</th>
		<th>actions</th>
	</tr>
	<% @bots.each do |bot| %>
	<tr>
		<% if bot.api_id == 3 %>
			<th><%= bot.deadline %></th>
			<th><%= bot.value %></th>
			<th><%= link_to "Edit", edit_bot_path(bot.id), :class => "btn btn-success"%> <%= link_to "Delete", bot_path(bot.id), method: :delete, data: {confirm: "削除してよろしいですか？"}, :class => "btn btn-danger"%></th>
		<% end %>
	</tr>
	<% end %>
</table>