<%= form_for @bot do |b| %>
<h1>Bot 作成：<%= @api.api %></h1>
	<!-- ホットペッパーグルメを選択した場合 -->
	<% if @id.to_i == 1 %>
		<p>
			<br>
			<p>入力値</p>
			<h3>位置情報</h3>
			<h3>　  +</h3><br>
			<%= b.text_field :text , :class => "form-control my-form" %><br><br>
			<p>出力値</p>
			<h3>位置情報周辺のおすすめグルメ</h3><br>
			<h4>カテゴリ</h4>
			<label><%= b.radio_button :keyword, "G001" %>  居酒屋</label>
			<label>  <%= b.radio_button :keyword, "G002" %>  ダイニングバー</label>
			<label>  <%= b.radio_button :keyword, "G003" %>  創作料理</label>
			<label>  <%= b.radio_button :keyword, "G004" %>  和食</label>
			<label>  <%= b.radio_button :keyword, "G005" %>  洋食</label>
			<label>  <%= b.radio_button :keyword, "G006" %>  イタリアン・フレンチ</label>
			<label>  <%= b.radio_button :keyword, "G007" %>  中華</label>
			<label>  <%= b.radio_button :keyword, "G008" %>  焼肉・韓国料理</label>
			<label>  <%= b.radio_button :keyword, "G009" %>  アジアン</label>
			<label>  <%= b.radio_button :keyword, "G010" %>  各国料理</label>
			<label>  <%= b.radio_button :keyword, "G011" %>  カラオケ・パーティ</label>
			<label>  <%= b.radio_button :keyword, "G012" %>  バー</label>
			<label>  <%= b.radio_button :keyword, "G013" %>  ラーメン</label>
			<label>  <%= b.radio_button :keyword, "G016" %>  お好み焼・もんじゃ・鉄板焼き</label>
			<label>  <%= b.radio_button :keyword, "G014" %>  カフェ・スイーツ</label>
			<label>  <%= b.radio_button :keyword, "G015" %>  その他</label>
			<%= b.hidden_field :value, :value => "位置情報周辺のおすすめグルメ" %><br>
			<%= b.hidden_field :api_id, :value => @id %>
		</p>

		<p>
			<%= b.submit "作成する", :class => "btn btn-success" %>
		</p>

	<!-- textを選択した場合 -->
	<% elsif @id.to_i == 2 %>
		<p>
			<p>入力値</p>
			<%= b.text_field :text , :class => "form-control my-form" %><br><br>
			<p>出力値</p>
			<%= b.text_field :value , :class => "form-control my-form" %><br>
			<%= b.hidden_field :api_id, :value => @id %>
		</p>

		<p>
			<%= b.submit "作成する", :class => "btn btn-success" %>
		</p>

	<% elsif @id.to_i == 3 %>
		<p>
			<h3>期限</h3>
			<%= b.hidden_field :text, :value => (0...20).map{ (65 + rand(26)).chr }.join %>
			<%= b.datetime_select :deadline %><br><br>
			<h3>内容</h3>
			<%= b.text_area :value , :class => "form-control my-form" %>
			<%= b.hidden_field :api_id, :value => @id %>
		</p>

		<p>
			<%= b.submit "作成する", :class => "btn btn-success" %>
		</p>
	<% elsif @id.to_i == 4 %>
	<p>
		<br>
		<p>入力値</p>
		<h3>位置情報</h3>
		<h3>　  +</h3><br>
		<%= b.text_field :text , :class => "form-control my-form" %><br><br>
		<p>出力値</p>
		<h3>位置情報周辺のおすすめグルメ</h3><br>
		<h4>検索フリーワード</h4>
		<p>「,」区切りで最大10件まで条件に含めることができます。</p>
		<p>例：焼肉,食べ放題</p>
		<%= b.text_field :keyword , :class => "form-control my-form" %>
		<%= b.hidden_field :value, :value => "位置情報周辺のおすすめグルメ" %><br>
		<%= b.hidden_field :api_id, :value => @id %>
	</p>

	<p>
		<%= b.submit "作成する", :class => "btn btn-success" %>
	</p>
	<% end %>
<% end %>
