<h1>出力値 選択</h1>
<%= form_tag bots_new_path do %>
<p>ホットペッパーよりぐるなびのがおすすめだよ</p>
<table class="table">
	<tr class="active">
		<th>出力値</th>
	</tr>
	<% @apis.each do |api| %>
		<tr>
			<th>
				<%= radio_button_tag :api_id, api.id %>  <%= api.api %>
			</th>
		</tr>
	<% end %>
</table>
<%= submit_tag "次へ", :class => "btn btn-success"%>
<% end %>