<h1>詳細</h1>
<hr>
<h4>入力値：<%= @bot.text %></h4>
<h4>出力値：<%= @bot.value %></h4>
<small><%= @bot.created_at %></small>
<hr>

<p>
    <a href="/mariobot/bots/<%= @bot.id %>/edit" class="btn btn-success">編集する</a>
</p>
<p>
	<%= link_to "削除する", bot_path(@bot.id), method: :delete, :class => "btn btn-danger"%>
</p>
